<div class="jumbotron text-center">
    <h1 class="dislay-3">Welcome</h1>
    <p class="lead">Add Personal Notes And Remember Things You Forgets</p>
    <a href="/notes/add" class="btn btn-dark btn-lg">Add Notes</a>
</div>